back/bin/
back/tmp/
back/build-errors.log
front/.DS_Store
front/node_modules
front/build
front/.svelte-kit
front/package
front/.env
front/.env.*
front/.env.example
front/.vercel
front/.output
front/vite.config.js.timestamp-*
front/vite.config.ts.timestamp-*